.overview-repos
  -@user_repos[0..5].each do |repo|
    .col-md-6.overview-repo
      .repo-box
        .repo-name
          %span.glyphicon.glyphicon-menu-hamburger(aria-hidden: true)
          =link_to repo[:name], repo[:url]
        .updated
          Updated
          =distance_of_time_in_words(Time.now,repo[:pushed_at])
          ago
        %br
        .repo-language
          =repo[:language]
