.col-md-3.user-profile
  .user-avatar
    =link_to image_tag(@user_profile[:avatar_url]), root_path

.col-md-9
  .user-repo-info
    %ul.nav.nav-tabs
      %li.active
        %a{href: '#', role: 'presentation'}
          Overview
      %li
        %a{href: '#', role: 'presentation'}
          Repositories
          %span.badge
            =@user_profile[:public_repos]
      %li
        %a{href: '#', role: 'presentation'}
          Stars
          %span.badge
            =@num_stars
      %li
        %a{href: '#', role: 'presentation'}
          Followers
          %span.badge
            =@user_profile[:followers]
      %li
        %a{href: '#', role: 'presentation'}
          Following
          %span.badge
            =@user_profile[:following]

  .overview-repos
    -@user_repos[0..5].each do |repo|
      .col-md-6.overview-repo
        .repo-box
          .repo-name
            %span.glyphicon.glyphicon-menu-hamburger(aria-hidden: true)
            =repo[:name]
          %br
          .repo-language
            =repo[:language]
