---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<GITHUB_ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1499653354'
      Etag:
      - W/"24082c93e6e4e9fdf8737cc2eda43325"
      X-Oauth-Scopes:
      - user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - c9d666f39f855777f960
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=<GITHUB_ACCESS_TOKEN>&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=<GITHUB_ACCESS_TOKEN>&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":92856777,"name":"little-shop","full_name":"Benjaminpjacobs/little-shop","owner":{"login":"Benjaminpjacobs","id":24966769,"avatar_url":"https://avatars3.githubusercontent.com/u/24966769?v=3","gravatar_id":"","url":"https://api.github.com/users/Benjaminpjacobs","html_url":"https://github.com/Benjaminpjacobs","followers_url":"https://api.github.com/users/Benjaminpjacobs/followers","following_url":"https://api.github.com/users/Benjaminpjacobs/following{/other_user}","gists_url":"https://api.github.com/users/Benjaminpjacobs/gists{/gist_id}","starred_url":"https://api.github.com/users/Benjaminpjacobs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Benjaminpjacobs/subscriptions","organizations_url":"https://api.github.com/users/Benjaminpjacobs/orgs","repos_url":"https://api.github.com/users/Benjaminpjacobs/repos","events_url":"https://api.github.com/users/Benjaminpjacobs/events{/privacy}","received_events_url":"https://api.github.com/users/Benjaminpjacobs/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/Benjaminpjacobs/little-shop","description":"Virtual
        Accessories for Virtually Everyone!","fork":false,"url":"https://api.github.com/repos/Benjaminpjacobs/little-shop","forks_url":"https://api.github.com/repos/Benjaminpjacobs/little-shop/forks","keys_url":"https://api.github.com/repos/Benjaminpjacobs/little-shop/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Benjaminpjacobs/little-shop/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Benjaminpjacobs/little-shop/teams","hooks_url":"https://api.github.com/repos/Benjaminpjacobs/little-shop/hooks","issue_events_url":"https://api.github.com/repos/Benjaminpjacobs/little-shop/issues/events{/number}","events_url":"https://api.github.com/repos/Benjaminpjacobs/little-shop/events","assignees_url":"https://api.github.com/repos/Benjaminpjacobs/little-shop/assignees{/user}","branches_url":"https://api.github.com/repos/Benjaminpjacobs/little-shop/branches{/branch}","tags_url":"https://api.github.com/repos/Benjaminpjacobs/little-shop/tags","blobs_url":"https://api.github.com/repos/Benjaminpjacobs/little-shop/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Benjaminpjacobs/little-shop/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Benjaminpjacobs/little-shop/git/refs{/sha}","trees_url":"https://api.github.com/repos/Benjaminpjacobs/little-shop/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Benjaminpjacobs/little-shop/statuses/{sha}","languages_url":"https://api.github.com/repos/Benjaminpjacobs/little-shop/languages","stargazers_url":"https://api.github.com/repos/Benjaminpjacobs/little-shop/stargazers","contributors_url":"https://api.github.com/repos/Benjaminpjacobs/little-shop/contributors","subscribers_url":"https://api.github.com/repos/Benjaminpjacobs/little-shop/subscribers","subscription_url":"https://api.github.com/repos/Benjaminpjacobs/little-shop/subscription","commits_url":"https://api.github.com/repos/Benjaminpjacobs/little-shop/commits{/sha}","git_commits_url":"https://api.github.com/repos/Benjaminpjacobs/little-shop/git/commits{/sha}","comments_url":"https://api.github.com/repos/Benjaminpjacobs/little-shop/comments{/number}","issue_comment_url":"https://api.github.com/repos/Benjaminpjacobs/little-shop/issues/comments{/number}","contents_url":"https://api.github.com/repos/Benjaminpjacobs/little-shop/contents/{+path}","compare_url":"https://api.github.com/repos/Benjaminpjacobs/little-shop/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Benjaminpjacobs/little-shop/merges","archive_url":"https://api.github.com/repos/Benjaminpjacobs/little-shop/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Benjaminpjacobs/little-shop/downloads","issues_url":"https://api.github.com/repos/Benjaminpjacobs/little-shop/issues{/number}","pulls_url":"https://api.github.com/repos/Benjaminpjacobs/little-shop/pulls{/number}","milestones_url":"https://api.github.com/repos/Benjaminpjacobs/little-shop/milestones{/number}","notifications_url":"https://api.github.com/repos/Benjaminpjacobs/little-shop/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Benjaminpjacobs/little-shop/labels{/name}","releases_url":"https://api.github.com/repos/Benjaminpjacobs/little-shop/releases{/id}","deployments_url":"https://api.github.com/repos/Benjaminpjacobs/little-shop/deployments","created_at":"2017-05-30T17:05:35Z","updated_at":"2017-07-07T01:49:43Z","pushed_at":"2017-06-30T15:39:55Z","git_url":"git://github.com/Benjaminpjacobs/little-shop.git","ssh_url":"git@github.com:Benjaminpjacobs/little-shop.git","clone_url":"https://github.com/Benjaminpjacobs/little-shop.git","svn_url":"https://github.com/Benjaminpjacobs/little-shop","homepage":"http://ready-player-one.herokuapp.com","size":29030,"stargazers_count":1,"watchers_count":1,"language":"JavaScript","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":2,"mirror_url":null,"open_issues_count":2,"forks":2,"open_issues":2,"watchers":1,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":38519056,"name":"analog-sensor","full_name":"podoglyph/analog-sensor","owner":{"login":"podoglyph","id":8197693,"avatar_url":"https://avatars3.githubusercontent.com/u/8197693?v=3","gravatar_id":"","url":"https://api.github.com/users/podoglyph","html_url":"https://github.com/podoglyph","followers_url":"https://api.github.com/users/podoglyph/followers","following_url":"https://api.github.com/users/podoglyph/following{/other_user}","gists_url":"https://api.github.com/users/podoglyph/gi[...]
- request:
    method: get
    uri: https://api.github.com/user/starred?access_token=<GITHUB_ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1499653354'
      Etag:
      - W/"87038efc1835c72[...]
