@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
}

// Navbar

.navbar-default {
  color: rgba(255,255,255,0.75);
  background-color: #24292e;
  border: none;
  border-radius: 0px;

  .header-container {
    width: 980px;
    margin: 0 auto;
    padding: 0px;
  }

  .home-logo {
    float: left;
    margin-top: 7px;

    img {
      height: 32px;
    }
  }

  .form-control {
    font-size: inherit;
    color: #fff;
    background-color: rgba(255,255,255,0.125);
    border: 0;
    box-shadow: none;

      .input {
        color: inherit;
        font-size: inherit;
      }
  }

  .navbar-nav li {

    a {
      font-weight: 600;
      line-height: 20px;
      color: rgba(255,255,255,0.75);
    }

    a:hover {
      color: #fff;
      text-decoration: none;
    }

  }

}

//Main
.no-padding {
  padding: 0px;
}

.container {
  max-width: 980px;
}
// Repo Navigation Tabs

.nav-tabs {
  > li.active > a {
    border: 0px;
    border-bottom: 2px solid #e36209;
  }

  > li.active > a:hover {
    border: 0px;
    border-bottom: 2px solid #e36209;
    cursor: pointer;
  }

  > li > a {
    border: 0px;
    border-radius: 0px;
    color: #586069;
  }

  > li > a:hover {
    background-color: transparent;
    border: 0px;
    color: #24292e;
    text-decoration: none;
  }

  span.badge {
    padding: 2px 5px;
    font-size: 12px;
    font-weight: 600;
    color: #586069;
    background-color: rgba(27,31,35,0.08);
  }
}

.overview-repos {

  .overview-repo:nth-child(odd) {
    padding-right: 5px;
  }

  .overview-repo:nth-child(even) {
    padding-left: 5px;
  }

  .overview-repo {
    padding: 0px;

    .repo-box {
      border: 1px solid #d1d5da;
      border-radius: 3px;
      padding: 16px;
      margin-bottom: 16px;

      .repo-name {
        font-weight: 600;
      }
    }
  }
}

.user-avatar img {
  display: block;
  max-width: 229px;
  border-radius: 6px;
}

.user-repo-info {
  margin-bottom: 15px;
}

.repos-list {

  .repo-box {
    border: 1px solid #d1d5da;
    border-radius: 3px;
    padding: 16px;
    margin-bottom: 16px;

    .repo-name {
      font-weight: 600;
    }
  }

}
