@import "bootstrap-sprockets";
@import "bootstrap";

// Navbar

.navbar-default {
  color: rgba(255,255,255,0.75);
  background-color: #24292e;
  border: none;
  border-radius: 0px;

  .header-container {
    width: 980px;
    margin: 0 auto;
    padding: 0px;
  }

  .home-logo {
    float: left;
    margin-top: 7px;

    img {
      height: 32px;
    }
  }

  .form-control {
    font-size: inherit;
    color: #fff;
    background-color: rgba(255,255,255,0.125);
    border: 0;
    box-shadow: none;

      .input {
        color: inherit;
        font-size: inherit;
      }
  }
}

// Repo Navigation Tabs

.nav-tabs {
  > li.active > a {
    border: 0px;
    border-bottom: 2px solid #e36209;
  }

  > li > a {
    border: 0px;
    border-radius: 0px;
  }

  > li > a:hover {
    background-color: transparent;
    border: 0px;
  }
}

.overview-repos {

  .overview-repo:nth-child(odd) {
    padding-right: 5px;
  }

  .overview-repo:nth-child(even) {
    padding-left: 5px;
  }
  
  .overview-repo {
    padding: 0px;

    .repo-box {
      border: 1px solid grey;
      padding: 16px;
      margin-bottom: 16px
    }
  }
}
