.col-md-3.user-profile
  .user-avatar
    =link_to image_tag(@user_profile[:avatar_url]), root_path

.col-md-9
  .user-repo-info
    %ul.nav.nav-tabs
      %li.active
        %a{href: dashboard_path, role: 'presentation'}
          Overview
      %li
        %a{href: repos_path, role: 'presentation'}
          Repositories
          %span.badge
            =@user_profile[:public_repos]
      %li
        %a{href: starred_path, role: 'presentation'}
          Stars
          %span.badge
            =@star_count
      %li
        %a{href: followers_path, role: 'presentation'}
          Followers
          %span.badge
            =@user_profile[:followers]
      %li
        %a{href: following_path, role: 'presentation'}
          Following
          %span.badge
            =@user_profile[:following]

  -@user_following.each do |f|
    =f[:login]
    %br
