!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ApiCuriousGithub
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    %nav.navbar.navbar-default
      .header-container
        .navbar-header
          =link_to image_tag('GitHub-Mark-Light-64px.png'), root_path, :class => 'home-logo'

        .collapse.navbar-collapse

          %form.navbar-form.navbar-left.search-form
            .form-group
              %input.form-control{:type => 'text', :placeholder => 'Search'}

          %ul.nav.navbar-nav
            %li Pull requests
            %li Issues
            %li Marketplace
            %li Gist

          %ul.navbar-nav.navbar-right
            %li Notifications
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                New
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{href: "#"} Action
                %li
                  %a{href: "#"} Another action
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                Profile
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{href: "#"} Action
                %li
                  %a{href: "#"} Another action


    .container
      .row
        = yield
