!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ApiCuriousGithub
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    %nav.navbar.navbar-default
      .header-container
        .navbar-header
          =link_to image_tag('GitHub-Mark-Light-64px.png'), root_path, :class => 'home-logo'

        .collapse.navbar-collapse

          %form.navbar-form.navbar-left.search-form
            .form-group
              %input.form-control{:type => 'text', :placeholder => 'Search GitHub'}

          %ul.nav.navbar-nav
            %li
              =link_to 'Pull requests', '#'
            %li
              =link_to 'Issues', '#'
            %li
              =link_to 'Marketplace', '#'
            %li
              =link_to 'Gist', '#'

          %ul.nav.navbar-nav.navbar-right
            %li
              =link_to '', '#', class: 'glyphicon glyphicon-bell'
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                %span.glyphicon.glyphicon-plus
                %b.caret
              %ul.dropdown-menu
                %li
                  =link_to 'Action', '#'
                %li
                  =link_to 'Another action', '#'
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                =image_tag current_user.image_url, class: 'profile_icon' if current_user
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{href: "#"} Action
                %li
                  =render partial: "/layouts/sign_in"


    .container.no-padding
      .row
        = yield
